html, body {
        font-family: -apple-system, BlinkMacSystemFont, SF Pro, Roboto, Segoe UI, Helvetica Neue, Helvetica, Arial, ChiuKong Gothic CL, Source Han Sans K, Noto Sans CJK KR, PingFang HK, Source Han Sans HC, Noto Sans CJK HK, ui-sans-serif, sans-serif, Apple Color Emoji, Noto Color Emoji, Segoe UI Emoji, Segoe UI Symbol, emoji;
        line-height: 1.6em;
}

header {
        text-align: center;
}
ul.menu {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}
li.menu {
        float: left;
}
a {
        text-decoration: none;
        color: #1F9BF3;
}
a.menu {
        display: block;
        padding: 1em 4em;
        text-align: center;
}
a.menu:hover {
        color: #1F9BF3;
}
a.padding-right {
        padding-right: 2em;
}
.padding-top {
        padding-top: 5%;
}
.center-align {
        text-align: center;
}
.higher-line {
        line-height: 3em;
}

hr {
        border: none;
        border-bottom: 1px solid #999999;
}

pre, code {
        font-family: SF Mono, SFMono-Regular, ui-monospace, Menlo, monospace, ChiuKong Gothic CL, Source Han Sans K, Noto Sans CJK KR, PingFang HK, Source Han Sans HC, Noto Sans CJK HK, Apple Color Emoji, Noto Color Emoji, Segoe UI Emoji, Segoe UI Symbol, emoji;
}
pre {
        overflow: auto;
        white-space: pre;
        padding: 2em;
        line-height: 1.6em;
        border-radius: 0.3em;
}

@media(prefers-color-scheme: dark) {
        html, body {
                color: white;
                background: #121212;
        }
        a.menu {
                color: white;
        }
        a:hover {
                color: white;
        }
        pre {
                background-color: #222222;
        }
}
@media(prefers-color-scheme: light) {
        html, body {
                color: black;
                background: white;
        }
        a:hover {
                color: black;
        }
        a.menu {
                color: black;
        }
        pre {
                background-color: #eeeeee;
        }
}
@media(prefers-color-scheme: no-preference) {
        html, body {
                color: black;
                background: white;
        }
        a:hover {
                color: black;
        }
        a.menu {
                color: black;
        }
        pre {
                background-color: #eeeeee;
        }
}

@media (min-width: 750px) {
        body {
                padding-left: 20%;
                padding-right: 20%;
        }
}
