@import url("basic.css");

html, body {
        text-align: center;
}
a {
        font-size: 0.9em;
}
div.heading {
        padding-top: 10%;
        font-size: 3em;
}
div.message{
        padding-top: 5%;
        line-height: 2em;
}
