html, body {
        font-family: SF Mono, ui-monospace, monospace;
        text-align: center;
}
a {
        text-decoration: none;
        color: #1F9BF3;
}
.top {
        padding-top: 5%;
}
.footnote {
        font-size: 0.8em;
}
